<h1>Song A Day</h1>
<p>A personal christmas calendar for your loved one</p>

<!-- ><img src="<%= asset_path 'musicNote.png' %>" />
<img src="<%= asset_path 'christmasTree.jpg' %>" />
<img src="<%= asset_path 'heart.png' %>" /> -->

<ol>
<li>You schedule your favorite songs. Add a private text if you want</li>
<li>Every day in December, one song is sent via sms or email</li>
<li>Your beloved one receives them and loves it</li>
</ol>

</p>
<p>
<p><a href="/users/sign_in">Sign in</a> or <a href="/users/sign_up">Sign up</a></p>