// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#song_order_number {
  display: none
}

ul.songlist li {
  line-height: 20px;
  list-style: none;
  height: 120px;
  width: 120px;
  margin: 20px;
  background-color: lightgrey;
  float: left;
}
