// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#song_order_number {
  display: none
}

p.sc-url {
  display: none
}

iframe {
  width: 60px;
  height: 63px;
}

ul.songlist {
  li {
    line-height: 20px;
    list-style: none;
    height: 100px;
    width: 110px;
    margin: 30px 20px 20px 20px;
    background-color: #F5F5F5;
    float: left;
    border-radius: 5px;
  }

  p.order-number {
    float: right;
    color: grey;
    font-size: 25px;
    margin: 5px;
  }

  li.song {
    p.order-number {
      margin-top: -15px;
    }
  }

  div.sc-widget {
    height: 63px;
    width: 60px;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 19px;
    overflow: hidden;
  }

  div.content {
    height: 90px;
  }

  div.song-info {
    width: 95px;
    height: 28px;
    overflow: hidden;
    line-height: 7px;
    margin: 25px 5px 5px 5px;

    p {
      font-size: 9px;
      line-height: 9px;
    }
  }
}

div#show-track {
  margin-top: 50px;

  iframe {
    height: 100%;
    width: 100%;
  }

  div#soundcloud-widget {
    width: 100%;
    height: 120px;
  }

  p {
    margin: 20px 5px 10px 5px;
  }

  p.track-info span.emph {
    font-weight: 600;
  }
}

