// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#song_order_number {
  display: none
}

ul.songlist li {
  line-height: 20px;
  list-style: none;
  height: 110px;
  width: 110px;
  margin: 20px;
  background-color: lightgrey;
  float: left;
  border-radius: 5px;
}

p.sc-url {
  display: none
}

iframe {
  width: 60px;
  height: 63px;
}

ul.songlist {
  p.order-number {
    float: right;
    color: grey;
    font-size: 25px;
    margin: 5px;
  }

  div.sc-widget {
    height: 63px;
    width: 60px;
  }

  div.content {
    height: 90px;
  }

  div.song-info {
    width: 95px;
    height: 19px;
    overflow: overlay;
    line-height: 7px;
    margin: 5px;

    p {
      font-size: 9px;
      line-height: 9px;
    }
  }
}
